<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<body id="inicio" data-spy="scroll" data-target=".navbar" data-offset="55">
  <div id="content">
    {{ partial "preloader.html" . }}
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>