{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.about.about.enable }}
{{ with $data.about.about }}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="secciones">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2> {{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range .about_item }}
			{{"<!-- About item -->" | safeHTML}}
			<!--<div class="col-lg-6 text-center wow fadeInUp" data-wow-duration="500ms" style="height: 80%;">
				<a href="{{.link}}" class=button>
					<div class="block" style="background-color: #{{.color}}; width: auto; height: 100%;">
						<div>
							<i class="icono" >
								<img src ="{{.icon}}"
								 alt="Icono"
								 position = fixed
								 width = 100%
								 height =100% >
							</i>
						</div>
						<div class="icon-box">
						
						{{with .icon}}<i class="icono"href="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg"></i>{{ end }}
						</div>
					-->
						<!--{{"{aca comentario} Express About Yourself {aca comentario}" | safeHTML}} -->
					<!--	<div class="content text-center">
							
							<h3 style="color: #{{.colorT}}">{{ .title }}</h3>	
							<p style="color: #{{.colorP}}">{{ .content | markdownify }}</p>
						</div>
					</div>
				</a>
			</div> -->
			<!--<div style="padding-left: 5px;padding-right: 5px;">
				<button class= "block" style="background-color: #{{.color}}; border-radius:25px; margin-bottom: 20px; padding-right:20px; padding-left:20px;">
				<a href="{{.link}}">
					<img src = "{{.icon}}" widht="600" height="200" alt="">
					<br>
					<h3 style="color:#fff; -webkit-text-stroke:0.5px #242424">{{ .title }}</h3>
					<br>
					<p>{{ .content | markdownify }}</p>
				</a>
				</button>
			</div>-->
			<div>
				<button class="block" style="margin-right:5px;margin-left:5px; padding-right: 0px; padding-left: 0px; padding-top: 0px;padding-bottom: 0px;">
					<a href="{{.link}}">
						<img src = "{{.icon}}" style=" widht:350px; height: 350px;">
					</a>
				</button>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
{{ end }}