{{ if gt .Site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="ecoagenda" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2>{{ with i18n "ecoagenda" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with i18n "ecoagenda" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 3 (where .Site.RegularPages "Section" "==" "eco-agenda")}}
			{{ .Render "article"}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main"
					href="{{ `ecoagenda` }}">{{ i18n "viewAllPost" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
