{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url('{{ .image_webp | absURL }}');border:2px solid #242424;background-size: cover; background-position: top center; background-repeat: no-repeat;">
			<!-- this image is for trigger this section fallback background image -->
			<div class="image-feature">
				<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
			</div>
			<div class="col-lg-6" style="border:2px solid #242424;">
				<div class="content-block" style="text-align: center">
					<h1>{{ .title | markdownify }}</h1>
					<h3><p>{{ .content | markdownify }}</p></h3>
					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								<!--{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}-->
								<div class="media-body">
									<!--<h2 class="media-heading">{{ .title | markdownify }}</h2>-->
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}