{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="section-bg">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.social }}
						<a href="{{.link }}" target="_blank"> <img src="{{ .icon }}" style="width: 100px; height: 100px">
						{{ end }}
						</br>
						{{ range .Site.Params.social2}}
						<a href="{{.link }}" target="_blank"> <img src="{{ .icon }}" style="width: 100px; height: 100px; border-radius: 100%; border: 3px solid #000">
						{{ end }}
					</ul>
				</div>

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absLangURL }}">
						<img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" style="width: 300px; height: 150px;" />
					</a>
				<!--	<br>
					<p>{{ .Site.Params.copyright | markdownify }}</p> id
				-->
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if .Site.Params.map.enable }}
<script src="{{ .Site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
