<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>

	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
	<meta name="og:image"  style="max-width: 100%; height: 10px" content="https://gitlab.com/Amin-Farina/imagenes/-/raw/master/Politica/el_blog_2_logo__2_.png"/>
	{{ with .Params.Image }}
  		<meta property="og:image" content="{{ . | absURL }}" />
  	{{ end }}
	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	{{ hugo.Generator }}

	{{ "<!-- plugins -->" | safeHTML }}
	{{ range .Site.Params.plugins.css }}
	<link rel="stylesheet" href="{{ .link | absURL }}">
	{{ end }}

	{{"<!-- Main Stylesheet -->"|safeHTML}}
	{{ $styles := resources.Get "css/style.css" | minify}}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

	<!-- FONT FAMILY RALEWAY-->
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

  {{"<!-- Custom stylesheet - for your changes -->" |safeHTML}}
  <link rel="stylesheet" href="{{ `css/custom.css` | relURL}}" media="screen">

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
	<link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">

	{{ with .Site.Params.google_analytics_id }}
	{{ "<!-- Global Site Tag (gtag.js) - Google Analytics -->" | safeHTML }}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '{{ . }}');
	</script>
	{{ end }}

</head>
