<section class="sticky-top navigation" style= " border-bottom: 2px solid black; padding-left: 0px">
	<div class="container" style="padding: 0px;">
		<nav class="navbar navbar-expand-lg navbar-dark" style="justify-content: space-between" >
			<a class="navbar-brand p-0" href="{{ .Site.BaseURL | relLangURL }}" style="width: 185px; height: 88px;">
				{{ if .Site.Params.logo }}
				<img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
				{{ else }}
				{{ .Site.Title }}
				{{ end }}
			</a>

			<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation" style="background: #d4242c">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navigation" style="font-size: 18px;">
				<ul class="navigation" style="margin-bottom: 0px" >

					<li class="nav-item"><a class="nav-link" href="#home">{{ site.Params.home }}</a></li>
					
					<li class="nav-item"><a class="nav-link">Secciones</a>
						<ul>
							<li class="nav-item" style="padding:0px;background: #f9f9f9" ><a class="nav-link" style="border-right: 2px solid black; border-left: 2px solid black" href="/protagonistas" >Protagonistas</a></li>
							<li class="nav-item" style="padding:0px;background: #f9f9f9"><a class="nav-link" style="border-right: 2px solid black; border-left: 2px solid black" href="/eco-agenda" >Eco Agenda</a></li>
							<li class="nav-item" style="padding:0px;background: #f9f9f9"><a class="nav-link" style="border-right: 2px solid black; border-left: 2px solid black" href="/genero" >Genero</a></li>
							<li class="nav-item" style="padding:0px;background: #f9f9f9"><a class="nav-link" style="border-bottom: 2px solid black; border-right: 2px solid black; border-left: 2px solid black" href="/novedades" >Novedades</a></li>
						</ul>
					
					</li>
								
					<li class="nav-item"><a class="nav-link" href="/#portfolio">Portfolio</a></li>
					
					<li class="nav-item"><a class="nav-link" href="/#calendario">Calendario</a></li>
					
					<li class="nav-item"><a class="nav-link" href="/#contact">Contacto</a></li>
				</ul>	
			</div>
		</nav>
	</div>
</section>
