{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.pricing.pricing.enable }}
{{ with $data.pricing.pricing }}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="calendario" class="pricing section">
  <div class="container">
    <div class="row justify-content-center">
      <!-- esto hicimos con el king-->
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FCordoba&amp;src=ZWxibG9nZGVsbWlsaXRhbnRlQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZXMuYXIjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;title=Proximos%20Eventos" style="border-width:0" width="900" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}
{{ end }}