{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>ERROR 404</h1>
        <br>
        <br>
        <h2>Pagina Vacia</h2>
        <h4>Es muy probable que estemos trabajando en ella</h4>
        <br>
				<a class="btn btn-main" href="{{ .Site.BaseURL | relLangURL }}">Volver a Inicio</a>
      </div>
    </div>
  </div>
</section>

{{ end }}